@font-face {
  font-family: "Tourney";
  src: url(./Tourney-Thin.ttf);
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Tourney";
  src: url(./Tourney-ThinItalic.ttf);
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: "Tourney";
  src: url(./Tourney-ExtraLight.ttf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Tourney";
  src: url(./Tourney-ExtraLightItalic.ttf);
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "Tourney";
  src: url(./Tourney-Light.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Tourney";
  src: url(./Tourney-LightItalic.ttf);
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Tourney";
  src: url(./Tourney-Regular.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Tourney";
  src: url(./Tourney-Italic.ttf);
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: "Tourney";
  src: url(./Tourney-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Tourney";
  src: url(./Tourney-SemiBoldItalic.ttf);
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: "Tourney";
  src: url(./Tourney-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Tourney";
  src: url(./Tourney-BoldItalic.ttf);
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "Tourney";
  src: url(./Tourney-ExtraBold.ttf);
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Tourney";
  src: url(./Tourney-ExtraBoldItalic.ttf);
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: "Tourney Black";
  src: url(./Tourney-Black.ttf);
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Tourney Black Italic";
  src: url(./Tourney-BlackItalic.ttf);
  font-style: italic;
  font-weight: 900;
}